version: 2
registries:
  dhi:
    type: docker-registry
    url: dhi.io
    username: "${{ secrets.DHI_USERNAME }}"
    password: "${{ secrets.DHI_TOKEN }}"
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    registries:
      - dhi
    ignore:
      - dependency-name: "dhi.io/caddy:2"
    commit-message:
      prefix: "deps"
